<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560076539379-6bptlrdib0brgvk5ff30910qfkfgou0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560076539379-6bptlrdib0brgvk5ff30910qfkfgou0h</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ7-gNnJPIjck7AeufdPKVpgQ1Mn0y2wY</string>
	<key>GCM_SENDER_ID</key>
	<string>560076539379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ricardohui.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-4cddf</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-4cddf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560076539379:ios:856a9e2a1e478f50</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-4cddf.firebaseio.com</string>
</dict>
</plist>